body{
    overflow-x: hidden;
    /* width: 100%; */
    box-sizing: border-box;
    padding-bottom: 60px;
    font-size: 20px;
    font-family: 'Lobster', cursive;
    /* color:white; */
    image-rendering: -webkit-optimize-contrast;
    background-image: url(./teacher.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#title, #description{
    color:white;
}

.upper{
    margin: 0px auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.wrapper{
    margin:0px auto;
    max-width:800px;
    background-color: teal;
    line-height: 40px;
}

#survey-form{
    padding: 30px 5px 35px 45px;
    line-height: 50px;
}

.textBox{
    width:95%;
    height: 35px;
    border-radius: 4px;
    text-align: justify;
}

.textArea{
    width: 90%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    text-indent:20px;
}

button{
    background-color:#7FFFD4;
    border: none;
    padding: 15px 32px;
    text-decoration: none;
    border-radius: 5px;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

button:active,
button:focus,
button:focus:active {
  background-image: none;
  outline: 0;
  box-shadow: none;
}


::placeholder {
    font-size: 15px;
    padding-left: 12px;
    font-style: italic;
}

input[ type= text] ,
input[ type= email] ,
input[ type= number] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

select {
    width: 80%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

optgroup{
    font-size: 15px;
    font-family: 'Lobster', cursive;
}

label{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
