body{
    overflow-x: hidden;
    color: white;
    box-sizing: border-box;
    /* padding-bottom: 60px; */
    font-size: 20px;
    font-family: 'Lobster', cursive;
    image-rendering: -webkit-optimize-contrast;
    background-image: url(./teacher.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#title, #description{
    color:white;
}

.upper{
    margin: 0px auto;
    text-align: center;
}

.wrapper{
    padding: 2rem;
    margin:0px auto;
    max-width:800px;
    background-color: teal;
    line-height: 40px;
}

#survey-form{
    line-height: 50px;
}

.text-box{
    width:90%;
    height: 35px;
    padding: 16px 20px;
    border: none;
    background-image: none;
    outline: 0;
    border-radius: 4px;
    margin: 8px 0;
    box-shadow: 1px 1px 6px rgba(0,0,0,0.2) inset, -1px -1px 6px rgba(0,0,0,0.2) inset;
}

.textArea{
    width: 90%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    text-indent:20px;
}

button{
    width: 15.6rem;
    height: 2.6rem;
    display: block;
    margin: auto;
    background-color:white;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Lobster', cursive;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.6), 0 17px 50px 0 rgba(0,0,0,0.6);
}

button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

button:active,
button:focus,
button:focus:active {
  background-image: none;
  outline: 0;
  box-shadow: none;
}

input {
    box-sizing: border-box;
    font-size: 15px;
}

select[name="subject"] {
    max-width: 350px;
    background-color: white;
    color: black;
}

optgroup{
    font-size: 15px;
    color: black;
}

label{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
